@import url("https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=Funnel+Display:wght@300..800&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Lexend+Deca:wght@100..900&family=Lexend+Giga:wght@100..900&family=Playwrite+DE+Grund:wght@100..400&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lexend Deca", sans-serif;
  /* padding-top: 5em; */
}

h1,
h2 {
  font-family: sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}

.flex {
  display: flex;
}
.flex-space {
  display: flex;
  justify-content: space-between;
}

button {
  border: none;
  background: none;
  outline: none;
  transition: 0.4s;
  cursor: pointer;
}

.primary-btn {
  padding: 15px 40px;
  background: #365803e7;
  font-weight: bold;
  color: white;
}
.secondary-btn {
  padding: 15px 40px;
  background: none;
  border: 2px solid white;
  font-weight: bold;
  color: white;
}

.container {
  max-width: 90%;
  margin: auto;
}

/* header content */
/* Main Page - main titile */

.main-title {
  color: #538804;
  font-size: 300%;
  display: flex;
  justify-content: center;
  font-family: Bonheur Royale;
  font-weight: 500;
  letter-spacing: 4px;
  word-spacing: 10px;
}


header {
  height: 10vh;
  width: 100%;
  line-height: 10vh;
  padding: 0 0 0 20px;
}

/* sticky header *//* sticky header */
.sticky {  
  position: sticky;
  top: 0;
  background-color: white; 
  z-index: 100; /* Ensure it's above other elements */
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.3); /* subtle shadow */
  /* transition: 2s; */
}

/* sticky header *//* sticky header */

header img,footer img {
  margin: 20px 0;
  max-width: 100%;
  max-height: 60px;
}

header ul {
  display: inline-block;
}

header ul li {
  display: inline-block;
  text-transform: uppercase;
}

header ul li a {
  color: #000;
  margin: 0 10px;
  transition: 0.3s;
}

header ul li a:hover {
  color: #6baf05;
  font-weight: bold;
}

header i {
  margin: 0 20px;
}

header button {
  padding: 13px 40px;
}

header .nav-links span {
  display: none;
}

/* media q - not func properly */
@media screen and (max-width: 768px) {
  header ul {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #6cac0c;
    overflow: hidden;
    transition: max-height 0.5s;
    text-align: center;
    z-index: 9;
  }

  header ul li {
    display: block;
  }

  header ul li a {
    color: white;
  }

  header i {
    color: white;
  }

  header button {
    margin-top: 50px;
    width: 150px;
    background: white;
    color: #6baf05;
  }
  header .nav-links span {
    color: black;
    display: block;
    cursor: pointer;
    line-height: 10vh;
    font-size: 25px;
  }
}

/* home - gallery - carousel */

.home {
  /* height: 100vh; */
  color: #ffffff;
}

/* carousel */
.slider-container {
  /* padding: 2rem;   */
}
/*1rem = the default font size of the root <html> element, typically 16px in most browsers*/
.slider-wrapper {
  position: relative;
  max-width: 100vw;
  max-height: 60%;
  margin: 0 auto;
  overflow: hidden;
}

.slider {
  display: flex;
  aspect-ratio: 16 /9;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem #0349018f;
}

/* Hide slider -scrollbar */
.slider::-webkit-scrollbar {
  display: none; /* Hide the scrollbar */
}

.slider img {
  /* width: 800px;*/
  /* max-height: 400px;  */
  flex: 1 0 100%;
  scroll-snap-align: start; /* re-check */
  object-fit: cover;
  /* transition: transform 1s ease-in-out; */
}

.slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.slider-nav a {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.75;
  transition: opacity ease 250ms;
}

.slider-nav a:hover {
  opacity: 1;
}

/* home - Gallery- on screen items */
.home .item {
  position: absolute;
  top: 35%;
  left: 11%;
  /* max-width:30vw ; */
}

.home .item .text h1 {
  font-size: 60px;
  font-weight: 800;
}

.home .text h2 {
  font-size: 40px;
  font-family: Bonheur Royale;
  font-weight: 500;
}

.home .text h2 span {
  font-size: 15px;
  font-family: "Lexend Deca";
}

.home p {
  margin: 10px 0;
  font-size: 15px;
}

.home button {
  margin-right: 20px;
}

/* home - Bookig form */

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
}

input {
  outline: none;
  border: none;
  width: 100%;
}
.book {
  padding: 40px 0;
  background: #1e350f;
  color: #fff;
}

.book h1 {
  font-size: 28px;
}
.book h1 span {
  color: #8ad419;
}
.book input {
  padding: 20px;
}
.book input:nth-last-child(1) {
  background: #8ad419;
  color: #1e350f;
  font-weight: 600;
  font-size: large;
}

/* home -about */

.left,
.right {
  width: 50%;
  padding: 30px;
}

.top {
  margin-top: 4%;
}

.heading h1 {
  font-size: 9vw;
  font-weight: 500;
  opacity: 0.1;
  position: absolute;
  /* top: -30px; */
  /* top :5%; */
  color: #225501;
}
.heading h2 {
  /* margin: 0px 0 10 40; */
  font-size: 5vw;
  font-family: Bonheur Royale;
  font-weight: 500;
  color: #30491f;
  top: 10%;
}

.about {
  position: relative;
}

.about .left {
  margin-top: 30px;
}

.about p {
  font-size: 20px;
}

.about button {
  margin: 30px 0;
}

.about .right img {
  max-width: 100%;
}

/* Facilitites */

.mtop {
  margin-top: 40px;
}

.facility {
  margin: 1%;
}
.facility img {
  width: 100%;
}

/* home- services */

.service {
  position: relative;
}

.grid2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.service .left {
  padding: 30px 0;
}

.service .box {
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
  transition: 0.5s;
}

.service .box .text {
  padding: 30px 0;
  border: 1px dashed #fff;
}

.service i {
  font-size: 40px;
  color: #6baf05;
  transition: 0.5s;
}

.service h3 {
  font-size: 20px;
  font-weight: 400;
  margin-top: 20px;
  transition: 0.5s;
}

.service img {
  aspect-ratio: 1/1;
}

.service .right {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.service .box:hover {
  background: #6baf05;
  color: white;
  cursor: pointer;
}

.service .box:hover text {
  font-size: larger;
}
.service .box:hover i {
  color: rgb(210, 240, 191);
  /* font-size: 45px; */
}

/* newsletter */
.newsletter {
  position: relative;
}

.newsletter .container {
  background: #6baf05;
  padding: 10px;
  position: absolute;
  top: -35px;
  left: 8%;
  width: 80%;
}
.newsletter h1 {
  width: 100%;
  font-size: 25px;
  color: #fff;
  margin-top:4px;
}
.newsletter input {
  padding: 10px;
}

.newsletter input {
  width: 90%;
  background: #e8fdc8;
}

.newsletter button {
  margin-left: 20px;
  width: 30%;
  background-color: #fff;
  color: #225501;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.5s ease-out;
}
.newsletter button:hover {
  /* background-color:#d4f7a0 ; */
  /* color: #fff; */
  font-size: large;
  width: 32%;
}

/* footer */

footer {
  background: #282834;
  color: #b6b7b9;
  padding: 10% 0 5% 0;
}

footer .grid {
  grid-template-columns: 1fr 2fr 1fr 1fr;
}

footer p {
  color: #b6b7b9;
  font-size: 15px;
  line-height: 25px;
}

footer i {
  margin: 20px 20px 0 0;
  color: #ffffff;
  font-size: 25px;
  transition: 0.4s;
}

footer i:hover {
  cursor: pointer;
  font-size: 30px;
  color: #bffa66;
}

footer h2 {
  color: #fff;
  margin-bottom: 10px;
}

footer i {
  color: #7fc142;
  margin: 20px 0;
  margin-right: 20px;
}

footer label {
  margin: 20px 0;
}

/* footer form */

.form-box {
  display: flex;
  align-items: center;
  gap: 5px;
  /* margin-bottom: 5px; */
}

footer label {
  width: 70px;
}

footer input, textarea {
   width: calc(100% - 120px); /* Adjust input width based on label width */
  padding: 5px;
  background: #f2ffde;
  border-radius: 4px;
  box-sizing: border-box;
}

/* footer .space-b{
  display: flex;
  justify-content: space-between;
  align-items: center;
} */
.radio-group {
  display: flex;
  align-items: center;
}

.radio-group label {
  width: 30%;
  font-size: 15px;
}

footer button {
  color: white;
  padding: 2px 2px;
  margin-top: 20px;
  border: 2px solid #d4f7a0;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 20%;
  transition: 1s;
}

footer button:hover {
  background-color: #d4f7a0;
  color: #1e350f;
}